
body {
    margin: 0;
    overflow-x:hidden;
    font-family: 'Shadows Into Light', cursive;
    background-image: url(https://cdn.store-assets.com/s/397112/f/5757244.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    background-attachment: fixed;
    padding: 20px;
    
    
}
body::after{
    background: #494747;
        content: "";
        height: 300%;
        left: 0;
        opacity: .5;
        position: absolute;
        top: 0;
        bottom: 0;
        transition: all .25s ease;
        width: 300%;
}
header {

    display: block;
}
.logo-img
    {
        height: 70px;
    }
.hader {
    
position: relative;
z-index: 1;
}

.hader ul {
    justify-content: center;
    margin: 0;
    list-style: none;
}

a {
    text-decoration: none;
    color:  rgb(214, 181, 136);
}
 


    .nav {
    
        position: relative;
        z-index: 1;
        display: flex;
        align-items: center;
        justify-content: space-between;
           
    }
    .list {
       
        display: flex;
        align-items: center;
    }
   
    .logo-link
    {
    display: flex;
      
      align-items: center;
     
    }
    .list li {
     display: flex;
     padding: 0 10px;
    color: rgb(196, 186, 186);
    font-weight: bold;
    font-size:  19px;
    }
    .list li:last-of-type{
        padding-right: 0;
    
    }
    .nav-link  {
        position: relative;
        transition: all .25s ease;
    }
    .nav-link::after{
        content: "";
        background:  rgb(214, 181, 136 ) ;
        height: 2px;
        width: 100%;
        position: absolute;
        bottom: -8px;
        left: 0;
        transform: scaleX(0);
        transition: all .25s ease;
    }
    .nav-link:hover::after{
        transform: scaleX(1);
    }
    
    .nav-link:hover {
        color:  rgb(211, 159, 87);
    }
.text {
    position: relative;
    z-index: 2;
    color:#fffef7;
}

main {

    position: absolute;
    z-index: 2;
    color: beige;
}

main h1 {
    align-items: center;
}

.png {
  width: 500px;
  height: 500px;
  border-radius: 8px;
}

.royale {
    
    background-color: #272626;
    border-radius: 9px;
    opacity: .85;
    font-size: 17px;
}


.photo {
    display: flex;
justify-content: space-between; 
margin-right: 100px;
margin-left: 100px;
}

